.row-fluid
  .span1
  .span10
    %h1 Apple Test Devices
    %p
      .pull-right
        %span Didn't find your device?
        = link_to "Add a Device", add_device_path, :class => "btn btn-mini btn-primary"
      = form_for :device, :url => perform_search_path, :html => {:class => "form-inline"} do |f|
        = f.text_field :identifier, :placeholder => "Device Name or Partial UDID"
        = f.submit 'Search', :class => "btn btn-success"
    %table.table
      %tr
        %th Device Name
        %th Device Identifier (UDID)
        %th

      - @devices.each do |device|
        %tr
          %td= device.friendly_name
          %td= device.udid
          %td
            -if not device.keep 
              = link_to 'I Use This Device!', update_for_keep_path(device), :class => "btn btn-success"
            -else
              %div This device will be preserved

    .pull-right= link_to "Export Device List", export_devices_path, :class => "btn btn-default"
    %br

  .span1
