.row-fluid
  .span4
  .span4
    
    %h4 Update Device Description
    %br
    %p We're almost done! Just take a second to review the device description. It should be as informative as possible. 
    %p A good example is "Mark Johnson's iPad 3". 
    %br
    %br

    = form_for @device, :url => keep_device_path(@device), :html => {:class => "form-inline"} do |f|
      - if @device.errors.any?
        #error_explanation
          %h5.error= "#{pluralize(@device.errors.count, "error")} prohibited this device from being saved:"
          %ul
            - @device.errors.full_messages.each do |msg|
              %li= msg
      = f.text_field :friendly_name
      = f.submit 'Save', :class => "btn btn-success"
  .span4


